# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------------------------------------------------------------------
# Dependencias y Builds
# -----------------------------------------------------------------------------
node_modules/
dist/
dist-ssr/
build/

# -----------------------------------------------------------------------------
# Testing
# -----------------------------------------------------------------------------
coverage/

# -----------------------------------------------------------------------------
# Variables de entorno y configuraciones locales
# -----------------------------------------------------------------------------
.env
.env.local
.env.*.local
*.local

# -----------------------------------------------------------------------------
# Editores de código e IDEs
# -----------------------------------------------------------------------------
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -----------------------------------------------------------------------------
# Archivos generados por el Sistema Operativo
# -----------------------------------------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini