.apps-menu-container {
  position: relative;
  display: inline-block;
  font-family: 'Arial', sans-serif;
}

.apps-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; 
  color: var(--text-secondary);/
}

.apps-button:hover {
  background-color: var(--icon-hover-bg); 
}

.apps-button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.apps-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: var(--bg-main); 
  border: 1px solid var(--border-color); 
  border-radius: 20px;
  box-shadow: var(--dropdown-shadow); 
  padding: 16px;
  overflow-y: auto;
  z-index: 100;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.apps-title {
  grid-column: 1 / -1; 
  text-align: center;  
  margin-top: 0;       
  margin-bottom: 16px;
  font-size: 1rem;
  color: var(--text-secondary);
}