.link-bar-container{
    display: flex;
    gap: 10px;
}

.link-bar-link{
    color: #202124;
    text-decoration: none;
    margin-right: 16px;
}

.link-bar-link:hover {
    text-decoration: underline;
}